header.header
	.header__block
		a(href="/").header__logo Povlu
		.header__menu
			span
			span
			span
		nav.header__nav
			ul.header__nav-list.flex
				+headerNavItem('Обо мне')
				+headerNavItem('Проекты')
				+headerNavItem('Отзывы')
				+headerNavItem('Блог')